.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: blue;
}

.card {
  width: 400px;
 
}

mat-form-field {    
   width:300px;
   display: flex;
   margin-left:30px;
}



button {
  width: 100%;
 
}



